body {
 margin: 0;
 background-size: auto;
 background-color:black;
 font-family: 'Work Sans', sans-serif;
}

.navbar {
 width: 80%;
 margin: 0 auto;
}

header {
  background: rgb(250, 115, 11);
}

header::after {
 content:'';
 display: table;
 clear: both;
}

h1 {

  margin: 0;
  padding: 0;
  float:left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  left:0;

}

h1 a {
  
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 550;
  margin-left: -12vh;
  position: relative;

}

nav {
  float:right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display:inline-block;
  margin-left: 60px;
  padding-top: 22px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
}

nav a::before {
  content:'';
  display: block;
  height: 5px;
  width: 100%;
  background-color:black;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 270ms;
}

nav a:hover::before {
  width: 100%;
}

#landing {
  display: flex;
  justify-content: center;
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-size: 48pt;
  font-weight: 200;
}





.titlebox {
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 40px;
 font-family:'Roboto', sans-serif;
 font-size: 44pt;
}
/* css box model */

.iconbox {
 background: black;
 width: 100%;
 margin: auto;
 border: 10px double rgb(250, 115, 11);
 padding: 100px;
 max-width: 1000px;
}

.row {
  display: flex;
  margin-left: -15vh;
  color: white;
  margin-top: -5vh;
  margin-bottom: -5vh;
  position: relative;
}

.column {
  list-style: none;
  /* flex: 34%;
  padding: 5px; */
  float: left;
  width: 130px;
  padding: 8px;

}